<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClassScan">

	<!--insert id="addClassScan" parameterType="ClassScan"
		useGeneratedKeys="true" keyProperty="idDyClass">
		INSERT INTO
		dy_scan_class
		(
		id_dy_project,
		package_name,
		class_name,
		file_path,
		memo
		) VALUES (
		#{idDyProject},
		#{packageName},
		#{className},
		#{filePath},
		#{memo}
		)
	</insert-->

	<insert id="addClassScan" parameterType="ClassScan"
		useGeneratedKeys="true" keyProperty="idSvnClass">
		INSERT INTO ta_svn_class2
		(
			id_ta_project,
			package_name,
			class_name,
			file_path,
			memo
		) SELECT
			#{idTaProject},
			#{packageName},
			#{className},
			#{filePath},
			#{memo}
		FROM dual
		WHERE NOT EXISTS 
      	(
      		SELECT 1 
      		FROM ta_svn_class2
      		WHERE
      			package_name=#{packageName}
      			AND class_name=#{className}
      	)
	</insert>

</mapper> 
