<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectScan">

	<!--insert id="addProjectScan" parameterType="ProjectScan"
		useGeneratedKeys="true" keyProperty="idDyProject">
		INSERT INTO dy_scan_project
		(
		id_testproject,
		dy_giturl,
		job_name,
		node_name
		) VALUES (
		#{idTestproject},
		#{dyGiturl},
		#{jobName},
		#{nodeName}
		)
	</insert-->
	
	<insert id="addProjectScan" parameterType="ProjectScan"
		useGeneratedKeys="true" keyProperty="idTaProject">
		INSERT INTO ta_project2
		(
			id_testproject,
			ta_svnurl,
			job_name,
			node_name
		) SELECT
			#{idTestproject},
			#{taSvnurl},
			#{jobName},
			#{nodeName}
		FROM dual
		WHERE NOT EXISTS 
      	(
      		SELECT 1 
      		FROM ta_project2
      		WHERE 
      			ta_svnurl=#{taSvnurl}
      	)
	</insert>
	
</mapper> 
